.centred-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.material-icons {
	@include centeredFlex;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

// .cont-on-sale {
// 	// @extend %container;
// }

// .start-page {
// 	// @extend %container;
// 	// background-color: gray;
// }

.product-card__img-container {
	width: 290px;
	height: 275px;
	position: relative;
	background-color: rgb(100, 173, 131);
}

// .product-card-123 {
// 	z-index: 100000;
// }

.heart-button {
	display: none;
	position: absolute;
	top: 19px;
	right: 17px;
	// display: block;
	padding: 0;
	margin: 0;
	background-color: transparent;
	color: white;
	border: none;
	cursor: pointer;
}

.fullscreen-button {
	display: none;
	position: absolute;
	bottom: 16px;
	right: 15px;
	// display: block;
	padding: 0;
	margin: 0;
	background-color: transparent;
	color: white;
	border: none;
	cursor: pointer;
}

.is-shown {
	display: block;
}

%category-title {
	font-family: Montserrat;
	color: black;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.25px;

	letter-spacing: 0.09em;
	text-transform: uppercase;
}

.sale-title {
	@extend %category-title;
	padding: 0;
	// margin-bottom: 0;
	// margin-left: 28px;
	// margin-right: 20px;
}

.different-title {
	@extend %category-title;
	padding: 0;
	margin-right: 10px;
}

.show-all {
	font-family: Montserrat;
	font-weight: normal;
	font-size: 12px;
	// line-height: 1.25px;

	letter-spacing: 0.06em;
	// text-decoration-line: none;
	border-bottom: 1px solid $accentColor;

	color: $accentColor;
	background: none;
	// border: none;
}

.header-onsale-cont {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	// justify-content: center;
	align-items: center;
}

.left-button-st-p {
	display: none;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	// position: absolute;
	// top: 0;
	// left: 0;

	@media screen and (min-width: $tablet-min) {
		display: block;
		margin-right: 20px;
	}

	@media screen and (min-width: $desktop) {
		// display: block;
		margin-right: 28px;
	}
	&:hover,
	&:focus {
		background-color: $accentColor;
		color: $primaryWhiteColor;
	}
}

.right-button-st-p {
	// outline: 1px solid black;
	// display: none;
	margin-left: auto;

	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	@media screen and (min-width: $tablet-min) {
		display: block;
	}
	&:hover,
	&:focus {
		background-color: $accentColor;
		color: $primaryWhiteColor;
	}
}

.devider {
	color: #e2e3e5;
	margin: 0 10px 0 10px;
}

.cards:not(:first-child) {
	margin-left: 20px;
}
