<div class="container">

    <div class="modal-favorites">
                <button type="button" class="left-button" data-left>
                    <span class="material-icons">
                        chevron_left
                    </span>
                </button>
    <h2 class="text">ОБРАНЕ</h2>
                <button type="button" class="right-button" data-right>
                    <span class="material-icons">
                        chevron_right
                    </span>
                </button>
    </div>
</div>


