.close-button {
  position: absolute;
  top: 30px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.input-wrapper._error {
  box-shadow: 0 0 15px red;
}
.add-form__error-message {
  display: none;
}
.add-form__error-message.visible {
  display: block;

  box-shadow: 0 0 15px red;
}

.image-preview__add {
  display: flex;
  margin-left: 5px;
}
.image-preview__item {
  border: 2px solid red;
  width: 84px;
  height: 50px;
  margin-left: 5px;
}

.modal-add-bill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $primaryWhiteColor;

  @media screen and (min-width: 310px) and (max-width: 479px) {
    width: 290px;
    height: 875px;
  }
  @media screen and(min-width: 480px) and (max-width: 1199px) {
    width: 724px;
    height: 698px;
  }

  @media screen and(min-width: 1200px) {
    width: 861px;
    height: 698px;
  }
}
