.logo {
  // padding-left: 40px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  // margin: 0;
  // padding: 0;
  text-decoration: none;
  color: black;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  border: 1px solid #e2e3e5;
  @media screen and(min-width: 310px) and (max-width: 479px) {
    width: 290px;
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 745 - 22px;
  }

  @media screen and (min-width: 1200px) {
    width: 1047 + 214px;
  }
}

.make-order-button {
  background-color: $accentColor;
  color: $primaryWhiteColor;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @media screen and(min-width: 310px) and (max-width: 479px) {
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 180px;
    height: 70px;
  }

  @media screen and (min-width: 1200px) {
    width: 214px;
    height: 70px;
  }
}
