.logo {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.logo-wrap {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $tablet-width) {
    order: 2;
  }
}

.header {
  display: flex;
  align-items: center;

  height: 70px;

  @media screen and (min-width: $tablet-width) {
  }

  @media screen and (min-width: $desktop-width) {
  }
}

.search-form {
  @media screen and (min-width: $tablet-width) {
    order: 1;
    margin-left: 5px;
  }
}

.create-ad {
  @media screen and (min-width: $tablet-width) {
    order: 4;
  }
}

.create-ad-btn {
  display: none;

  background-color: $accentColor;
  color: $primaryWhiteColor;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    display: block;
    width: 180px;
    height: 70px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 214px;
    height: 70px;
  }
}

.auth {
  display: none;

  @media screen and (min-width: $desktop-width) {
    display: block;
    order: 3;
    margin-right: 10px;
  }
}

.registration-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;
}

.login-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;
}

.menu-btn {
  width: 55px;
  height: 70px;
  padding-right: 15px;
  border-right: 1px solid $border-color;

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

@media screen and (max-width: $desktop-width) and (min-width: $tablet-width) {
  .my-cabinet {
    display: block;
    order: 3;
    margin-right: 22px;
  }
  .text-my-cabinet {
    display: none;
  }
  .exit-btn {
    display: none;
  }
}
