.logo {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.logo_wrap {
  margin-left: 66px;
}

.header {
  display: flex;
  align-items: center;

  height: 70px;
  border-bottom: 1px solid $border-color;

  @media screen and (min-width: $tablet-width) {
  }

  @media screen and (min-width: $desktop-width) {
  }
}

.search-form {
  margin-left: auto;
  margin-right: 14px;
  @media screen and (min-width: $tablet-width) {
  }
}

.create-ad-btn {
  display: none;

  background-color: $accentColor;
  color: $primaryWhiteColor;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
    width: 180px;
    height: 70px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 214px;
    height: 70px;
  }
}

.auth {
  display: none;
}

.menu_btn {
  width: 70px;
  height: 70px;
  border-right: 1px solid $border-color;
}
