<div class="container product">
    <ul class="cards">
        <li class="foto">{{foto}}
            <span class="material-icons heart">
                favorite
            </span>
        </li>
        <li class="name">{{name}}</li>
        <li class="price">{{price}} грн</li>
    </ul>
</div>