<div>
    <ul>
        <li>{{foto}}</li>
        <li>Рослина{{name}}</li>
        <li>{{price}}грн</li>
    </ul>

    <svg width="14" height="12" class="heart-like-icon ">
        <use href="./images/sprite.svg#icon-heart"></use>
    </svg>

</div>