{{!-- !тут ще не робив змін, треба уточнити --}}
{{#each this}}
<div class="container cont-initial">
	<button type="button" class="left-button-st-p" data-left>
		<span class="material-icons">
			chevron_left
		</span>
	</button>
	<span>
		<h1>{{category}}</h1>
	</span>
	<a class="link" href="../category-chosen.html"><span class="current-page">Дивитися всі</span>
	</a>
</div>
{{/each}}