<div class="container">
    <div class="header ">

        <div class="search-form">
            <button type="button" class="buttons" data-modal-open>
                <svg width="24" height="24" aria-label="Переключатель модального окна">
                    <use class="icon-search" href="./images/sprite.svg#icon-search-form"></use>
                </svg>
            </button>

        </div>
        <div class="logo">
            <a href="./index.html" class="logo">LOGO</a>
        </div>
        <div class="my-cabinet">
            <svg width="24" height="24" aria-label="Переключатель мобильного меню">
                <use class="icon-search" href="./images/sprite.svg#icon-my-cabinet"></use>
            </svg>

            <a href="">мiй кабинет</a>

            <button type="button" class="exit-button" data-exit>
                <svg width="24" height="24" aria-label="Переключатель мобильного меню">
                    <use class="icon-search" href="./images/sprite.svg#icon-exit"></use>
                </svg>
            </button>



        </div>

        {{!-- <ul>
            <li>
                <button type="button" class="registration" data-register>Увийти/Регесртрация</button>
            </li>

        </ul> --}}

        <div class="make-order">
            <button type="button" class="make-order-button" data-add-bill>Сворити оголошеня</button>
        </div>

    </div>
</div>