<div>
    <h1>tes2t</h1>
    <ul class="test-list">
        <li>{{name}}</li>
        <li>{{age}}</li>
        <li>3</li>
    </ul>
</div>


<button type="button" class="exit-button js-exit-button" data-exit>
    <svg width="24" height="24" aria-label="Переключатель мобильного меню">
        <use class="icon-search" href="./images/sprite.svg#icon-exit">
            <symbol id="icon-exit" viewBox="0 0 32 32">
                <path
                    d="M3.236 21.654v7.111h25.529v-25.529h-25.529v7.111h-2.916v-6.791c0-1.788 1.448-3.236 3.236-3.236h24.889c1.788 0 3.236 1.448 3.236 3.236v24.889c0 1.788-1.448 3.236-3.235 3.236h-24.889c-1.788 0-3.236-1.448-3.236-3.236v-6.791h2.916zM17.964 14.542l-4.915-4.916 2.063-2.063 8.436 8.436-8.436 8.436-2.063-2.063 4.915-4.916h-17.644v-2.915h17.644z">
                </path>
        </use>
        </symbol>


    </svg>
</button>