$bg-color: #e5e5e5;
$text-color: black;

$accentColor: #ff6c00;
$main-text-color: #979797;
$mail-title-color: #2a2a2a;
$primaryWhiteColor: #ffffff;
$cubicBezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$title-font: 'Montserrat', sans-serif;
$main-font: 'Roboto', sans-serif;
