.close-button {
  position: absolute;
  top: 30px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  //   width: 30px;
  //   height: 30px;
  //   border-radius: 50%;
  //   pointer-events: initial;
  cursor: pointer;

  //   &:hover,
  //   &:focus {
  //     fill: $accentColor;
  //   }
}

.modal-add-bill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $primaryWhiteColor;

  @media screen and (min-width: 310px) and (max-width: 479px) {
    width: 290px;
    height: 875px;
  }
  @media screen and(min-width: 480px) and (max-width: 1199px) {
    width: 724px;
    height: 698px;
  }

  @media screen and(min-width: 1200px) {
    width: 861px;
    height: 698px;
  }
}

//   &-title {
//     text-align: center;
//     font-weight: bold;
//     font-size: 20px;
//     line-height: 1.4;
//     letter-spacing: 0.03em;
//     margin-top: 40px;
//     margin-bottom: 30px;
//   }
// }
// .modal-form {
//   width: 100%;
//   padding-left: 40px;
//   padding-right: 40px;

//   &-field {
//     position: relative;
//     display: block;
//   }

//   &-input {
//     display: block;
//     width: 100%;
//     height: 40px;
//     margin: 0;
//     margin-bottom: 28px;
//     padding-left: 42px;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     box-sizing: border-box;
//     border-radius: 4px;
//   }

//   &-label {
//     position: absolute;
//     top: 50%;
//     left: 42px;
//     transform: translateY(-50%);
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 0.01em;
//     color: $titlteTextColor;
//     transition: transform $cubicBezier;
//   }
// }

// .modal-icon {
//   position: absolute;
//   top: 50%;
//   left: 10px;
//   transform: translateY(-50%);
//   display: inline-block;
//   width: 20px;
//   height: 20px;
// }

// .modal-form-field:focus-within > .modal-icon {
//   fill: $accentColor;
// }

// .modal-form-field:focus-within > .modal-form-label,
// .modal-form-input:not(:placeholder-shown) + .modal-form-label {
//   transform: translate(-80%, -42px);
//   color: $accentColor;
//   border-color: $accentColor;
// }
// textarea {
//   resize: none;
// }
// .modal-texterea {
//   width: 100%;
//   height: 120px;
//   padding: 10px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;

//   &-label {
//     position: absolute;
//     top: 10px;
//     left: 16px;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 0.01em;
//     color: $titlteTextColor;
//     transition: transform $cubicBezier;
//   }
// }

// .modal-form-field:focus-within > .modal-texterea-label,
// .modal-texterea:not(:placeholder-shown) + .modal-texterea-label {
//   transform: translate(-18%, -30px);
//   color: $accentColor;
//   border-color: $accentColor;
// }

// .modal-checkbox {
//   &-field {
//     position: relative;
//     display: block;
//   }

//   &-label {
//     position: absolute;
//     top: 20px;
//     left: 12px;
//     font-size: 12px;
//     line-height: 14px;

//     letter-spacing: 0.01em;
//     color: $titlteTextColor;
//     transition: transform $cubicBezier;

//     @media screen and(min-width:1200px) {
//       font-size: 14px;
//       line-height: 16px;
//     }
//   }

//   &-input {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//   }

//   &-icon {
//     position: absolute;
//     top: 18px;
//     left: -5px;
//     display: inline-block;
//     width: 16px;
//     height: 16px;
//     opacity: 0;
//   }
// }

// .not-checked {
//   position: absolute;
//   top: 18px;
//   left: -5px;
//   display: inline-block;
//   width: 16px;
//   height: 16px;
//   border: 2px solid $primaryTextColor;
//   border-radius: 4px;
//   opacity: 1;
// }

// .modal-checkbox-input:checked ~ .modal-checkbox-icon {
//   opacity: 1;
// }
// .modal-checkbox-input:checked ~ .not-checked {
//   opacity: 0;
// }

// .modal-form-button {
//   position: absolute;
//   bottom: 40px;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 200px;
//   height: 50px;
//   display: inline-block;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   background: $accentColor;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   font-weight: bold;
//   font-size: 16px;
//   line-height: 30px;
//   letter-spacing: 0.06em;
//   color: $primaryWhiteColor;
//   cursor: pointer;
// }

// .convention {
//   color: $accentColor;
// }
