<div class="container">
    <div class=" backdrop " data-modal-add-bill>
        <div class="modal-add-bill">
            <h2>Додати оголошення</h2>
<form action="" class="form">
    <h1>Додати оголошення</h1>



    <!--Назва товару-->
    <div class="line-form name-form">
        <label class="form-label name-label text-name" for="name">Назва товару</label>

        <input class="form-input name-input" type="text" name="name" id="name" placeholder=" ">

    </div>
    <!--Foto-->
    <div>
        <div class="foto-input ">
            <label class="form-label foto-label text-name">Фото</label>

            <label class="label-upload-photo" for="upload-photo"><input type="file" id="upload-photo">
            </label>

            <label class="label-upload-photo" for="upload-photo"><input type="file" id="upload-photo">
            </label>


            <label for="upload-photo" class="label-upload-photo"><input type="file" id="upload-photo">
            </label>


            <label class="label-upload-photo" for="upload-photo"><input type="file" id="upload-photo">
            </label>


            <label class="label-upload-photo" for="upload-photo"><input type="file" id="upload-photo">
            </label>

        </div>
    </div>


    <!--Опис товара-->
    <div class=" comment-form">
        <label class="label-comment text-name" for="comment">Опис товара</label>
        <textarea class="textarea-comment" name="comment" id="comment" rows="10" placeholder=" ">
                    </textarea>

    </div>
    <!--Категорія товара-->
   
    <div class="line-form">
        <label for="sel3" class="option-selector">Категорія товара</label>
        <select class="form-control input-sm" id="sel3">
            <option>Нерухомість</option>
            <option>Транспорт</option>
            <option>Робота</option>
            <option>Електроніка</option>
            <option>Бізнес та послуги</option>
            <option>Відпочинок і спорт</option>
            <option>Віддам безкоштовно</option>
            <option>Обмін</option>
        </select>
    </div>

    <!--prace-form-->
    <div class="line-form email-form">
        <label class="form-label text-name">Ціна </label>
        <input class="form-input " placeholder="0.00 грн">
    </div>

    <!--tel-form-->

    <div class="line-form tel-form">
        <label for="tel" class="form-label tel-label text-name  ">Телефон </label>
        <input class="form-input tel-input" type="tel" name="tel" id="tel" placeholder="+38 (0--) --- -- -- ">

    </div>





    <button class="button-modal bill-form-button" type="submit">Отправить</button>

</form>

<button class="buttons add-bill-close-button close-button" data-modal-add-bill-close>
    <svg width="24" height="24" class="close-button-icon ">
        <use href="./images/sprite.svg#icon-close-black"></use>
    </svg>
</button>


</div>
</div>
        </div>
        </div>
        </div>