<div class="container">
    <div class=" backdrop is-hidden" data-modal-add-bill>
        <div class="modal-add-bill">
            <h2>Додати оголошення</h2>

            <form class="bill-form" autocomplete="off">

                <label class="bill-form-field">
                    <span class="modal-form-label">Назва товару</span>
                    <input type="text" name="name" class="register-form-input" placeholder="">
                </label>
                <br>
                <label class="bill-form-field">
                    <span class="modal-form-label">Фото</span>
                    <input type="text" name="name" class="register-form-input" placeholder="">
                </label>
                <br>
                <label class="bill-form-field">
                    <span class="modal-form-label">Опис товару</span>
                    <input type="text" name="name" class="register-form-input" placeholder="">
                </label>
                <br>
                <label class="bill-form-field">
                    <span class="modal-form-label">Категорія товару</span>
                    <input type="text" name="name" class="register-form-input" placeholder="">
                </label>
                <br>
                <label class="bill-form-field">
                    <span class="modal-form-label">Ціна</span>
                    <input type="tel" name="name" class="" placeholder="0.00 грн">
                </label>
                <br>
                <label class="bill-form-field">
                    <span class="modal-form-label">Телефон</span>
                    <input type="tel" name="name" class="" placeholder="telefon">
                </label>
                <br>

                <button type="submit" class="bill-form-button">додати</button>
            </form>

            <button class="buttons add-bill-close-button close-button" data-modal-add-bill-close>
                <svg width="24" height="24" class="close-button-icon ">
                    <use href="./images/sprite.svg#icon-close-black"></use>
                </svg>
            </button>

        </div>
    </div>
</div>