<!-- модальное окно регистрации -->
<div class="container ">
    <div class=" backdrop is-hidden" data-modal-register>
        <div class="modal-register">

            <button class="buttons close-button" data-modal-register-close>
                <svg width="24" height="24" class="close-button-icon">
                    <use href="./images/sprite.svg#icon-close-black"></use>
                </svg>
            </button>
            <form class="register-form" data-register-form autocomplete="on">
                <label class="register-form-field">
                    <input type="mail" name="name" class="register-form-input" placeholder="e-mail" id="e-mail">
                </label>
                <label class="register-form-field">
                    <input type="text" name="mail" class="register-form-input" placeholder="password" id="password">
                </label>
                <button type="submit" class="login-form-button" id="login">увийти</button>
                <button type="submit" class="register-form-button" id="register">зарегистрироватися</button>
            </form>
        </div>
    </div>
</div>