
<section class="container">
      <nav class="categories-container">
            <ul class="categories js-categories-list list-list">
                  <li class="categories-item"><a href="" id="property">Нерухомість</a></li>
                  <li class="categories-item"> <a href="" id="transport">Транспорт</a> </li>
                  <li class="categories-item"> <a href="" id="work">Робота</a> </li>
                  <li class="categories-item"> <a href="" id="electronics">Електроніка</a> </li>
                  <li class="categories-item"> <a href="" id="business and services">Бізнес та послуги</a> </li>
                  <li class="categories-item"> <a href="" id="recreation and sport">Відпочинок і спорт</a> </li>
                  <li class="categories-item"> <a href="" id="free">Віддам безкоштовно</a> </li>
                  <li class="categories-item"> <a href="" id="trade">Обмін</a> </li>
                  <li class="clean-filters"><a href="/" id='filtersClean'><svg class="svg-suffix" width="20px" height="16px">
                                    <use href="./images/sprite.svg#icon-suffix"></use>
                              </svg>Очистити фільтри</a></li>
                  <!--                 <li class="categories-item"> <a href="" id='filtersClean'>Очистити фільтри</a> </li> -->
            </ul>
      </nav>
</section>
