<section class="container">
    <nav>
        <ul class="categories list-list">
            <li class="categories-item">Нерухомість</li>
            <li class="categories-item">Транспорт</li>
            <li class="categories-item">Робота</li>
            <li class="categories-item">Електроніка</li>
            <li class="categories-item">Бізнес та послуги</li>
            <li class="categories-item">Відпочинок і спорт</li>
            <li class="categories-item">Віддам безкоштовно</li>
            <li class="categories-item">Обмін</li>
            <li class="categories-item">Очистити фільтри</li>
        </ul>
    </nav>
</section>