<section id="remove-pl" class="container section-border">
  <nav class="nav-categories">
    <button type="button" class="nav-menu-btn">
      <svg width="15px" height="10px">
        <use href="./images/sprite.svg#icon-menu"></use>
      </svg>
    </button>

    <ul class="categories">
      <li class="categories-item">Нерухомість</li>
      <li class="categories-item">Транспорт</li>
      <li class="categories-item">Робота</li>
      <li class="categories-item">Електроніка</li>
      <li class="categories-item">Бізнес та послуги</li>
      <li class="categories-item">Відпочинок і спорт</li>
      <li class="categories-item">Віддам безкоштовно</li>
      <li class="categories-item">Обмін</li>
    </ul>

    <button type="button" class="discard-btn">
      <svg class="discard-icon" width="20px" height="16px">
        <use href="./images/sprite.svg#icon-discard"></use>
      </svg>
      Очистити фільтри
    </button>
  </nav>
</section>
