<div class="container">
    <div class=" backdrop is-hidden" data-modal-logout>
        <div class="modal-logout">
            <h2>Ви дійсно хочете вийти з акаунта?</h2>

            <button type="button" class="logout-button js-logout-button" data-logout>вийти</button>
            <button type="button" class="cancel-button" data-cancel>видмина</button>

            <button class="buttons add-bill-close-button close-button" data-modal-logout-close>
                <svg width="24" height="24" class="close-button-icon ">
                    <use href="./images/sprite.svg#icon-close-black"></use>
                </svg>
            </button>
        </div>
    </div>
</div>