<div class="container ">
    <div class="modal-favorites">
                <button type="button" class="left-button" data-left>
                  <svg width="18" height="18" class="left-arrow-icon ">
                     <use href="./images/sprite.svg#icon-chevron-left"></use>
                 </svg>
                </button>

                <h2>ОБРАНЕ</h2>

                <button type="button" class="right-button" data-right>
                    <svg width="18" height="18" class="icon-chevron-right">
                        <use href="./images/sprite.svg#icon-chevron-right"></use>
                    </svg>
                </button>

    </div>
</div>