<footer>
    <div class="container-footer">
        <div class="mobil-section">
            <a href="">
                <!-- <img class="emblem-vector" src="./images/Vector.png" alt=""> -->
            </a>

            <p>2019 </p>

            <!-- <img class="line-vector" src="./images/Vector 1.jpg" alt=""> -->

            <p>All Rights Reserved </p>
            <!-- <img class="line-vector" src="./images/Vector 1.jpg" alt=""> -->
        </div>

        <div class="mobil-section">
            <p>Developed with</p>
            <a href="">
                <!-- <img class="heart-vector" src="./images/Vector-heart.png"> -->
            </a>
            <p>by GoIT Students</p>
        </div>


    </div>

</footer>