<div class="container js-header">
  <div class="header">
    <!-- Кнопка меню слева (мобилка/планшет) -->
    <div>
      <button type="button" class="menu_btn">
        <svg width="15px" height="10px">
          <use href="./images/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
    <!-- Лого -->
    <div class="logo_wrap">
      <a href="./index.html" class="logo">LOGO</a>
    </div>
    <!-- Кнопка поиска  -->
    <div class="search-form">
      <button type="button" class="buttons" data-modal-open>
        <svg width="24" height="24" aria-label="Переключатель модального окна">
          <use
            class="icon-search"
            href="./images/sprite.svg#icon-search-form"
          ></use>
        </svg>
      </button>
    </div>

    <!-- Блок мой кабинет, кнопка выход -->
    <div class="my-cabinet" id="exit.btn">
      <svg width="24" height="24" aria-label="Переключатель мобильного меню">
        <use
          class="icon-search"
          href="./images/sprite.svg#icon-my-cabinet"
        ></use>
      </svg>

      <a href="">Мiй кабінет</a>
      <button type="button" class="exit-button js-exit-button" data-exit>
        <svg width="24" height="24" aria-label="Переключатель мобильного меню">
          <use class="icon-search" href="./images/sprite.svg#icon-exit"></use>
        </svg>
      </button>
    </div>
    <!-- Блок авторизации, регистрация/вход -->
    <div class="auth">
      <button type="button" class="registration_btn" data-register>
        Реєстрація
      </button>
      / <button type="button" class="login_btn">Увійти</button>
    </div>
    <!-- Кнопка создания объявления -->
    <div class="create-ad">
      <button type="button" class="create-ad-btn" data-add-bill>
        Створити оголошення!
      </button>
    </div>
  </div>
</div>
