
<div class="container">
    <div class=" backdrop is-hidden" data-modal-register>
<form class="form">
    <button class="buttons autoriz-close-button" data-modal-register-close>
        <svg width="24" height="24" class="close-button-icon">
            <use href="./images/sprite.svg#icon-close-black"></use>
        </svg>
    </button>
    <h2 class="autoriz-title">Ви можете авторизуватися за допомогою Google Account:</h2>
    <div class="link-contanier">
<a class="google-link" href="https://www.google.com/account/about/">
    <svg width="18" height="18" class="icon-google-symbol">
        <use href="./images/sprite.svg#icon-google-symbol"></use>
    </svg>
    Google</a>
    </div>
    

    <p>Або за допомогою імейлу і пароля, попередньо зареєструвавшись:</p>

    <div class="form-field">
        <input class="form-input" type="email" name="mail" id="mail" placeholder=" ">
        <label for="mail" class="form-label">E-mail</label>
    </div>

    <div class="form-field down">
        <input class="form-input" type="password" name="pwd" id="pwd" placeholder=" ">
        <label for="pwd" class="form-label">Password</label>

    </div>

    <div class="form-button">
        <button class="btn-autoriz" type="submit">Увійти</button>
        <button class="btn-autoriz" type="submit">Зареєструватись</button>
    </div>
    

</form>
    </div>

</div>
