/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.logo:hover, .search-btn:hover, .my-cabinet-btn:hover, .create-ad-btn:hover, .registration-btn:hover, .login-btn:hover, .categories-item > a:hover, .nav-menu-btn:hover, .discard-filters:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.logo:focus, .search-btn:focus, .my-cabinet-btn:focus, .create-ad-btn:focus, .registration-btn:focus, .login-btn:focus, .categories-item > a:focus, .nav-menu-btn:focus, .discard-filters:focus {
  outline-style: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  font-weight: 700;
}

body {
  background-color: #e5e5e5;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-border {
  border-bottom: 1px solid #e2e3e5;
}

.container {
  padding: 0 15px;
  background-color: #f5f6fb;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

.logo {
  display: block;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.logo-wrap {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .logo-wrap {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .search-form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 5px;
  }
}

@media screen and (min-width: 768px) {
  .create-ad {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.create-ad-btn {
  display: none;
  background-color: #ff6c00;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .create-ad-btn {
    display: block;
    width: 180px;
    height: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .create-ad-btn {
    width: 214px;
    height: 70px;
  }
}

.auth {
  display: none;
}

@media screen and (min-width: 1200px) {
  .auth {
    display: block;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 10px;
  }
}

.registration-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.slash {
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.02em;
}

.login-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.menu-btn {
  width: 55px;
  height: 70px;
  padding-right: 15px;
  border-right: 1px solid #e2e3e5;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .my-cabinet {
    display: block;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 22px;
  }
  .text-my-cabinet {
    display: none;
  }
  .exit-btn {
    display: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  pointer-events: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.close-button {
  position: absolute;
  top: 30px;
  right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ff6c00;
}

@media screen and (min-width: 310px) and (max-width: 479px) {
  .modal {
    width: 290px;
    background-color: #ff6c00;
    height: 152px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 650px;
    background-color: #ff6c00;
    height: 230px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 860px;
    height: 230px;
    background-color: #ff6c00;
    border: 1px solid red;
  }
}

.modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  margin-top: 40px;
  margin-bottom: 30px;
}

.modal-logout {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
}

@media screen and (min-width: 310px) and (max-width: 479px) {
  .modal-logout {
    width: 290px;
    height: 205px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-logout {
    width: 650px;
    height: 230px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-logout {
    width: 650px;
    height: 230px;
  }
}

.close-button {
  position: absolute;
  top: 30px;
  right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-register {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
}

@media screen and (min-width: 310px) and (max-width: 479px) {
  .modal-register {
    width: 290px;
    height: 542px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-register {
    width: 650px;
    height: 583px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-register {
    width: 650px;
    height: 583px;
  }
}

.close-button {
  position: absolute;
  top: 30px;
  right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-add-bill {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
}

@media screen and (min-width: 310px) and (max-width: 479px) {
  .modal-add-bill {
    width: 290px;
    height: 875px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-add-bill {
    width: 724px;
    height: 698px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-add-bill {
    width: 861px;
    height: 698px;
  }
}

.categories {
  display: none;
  width: 1200px;
}

@media screen and (min-width: 1200px) {
  .categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }
}

.categories-item {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.categories-item:last-child {
  padding-right: 20px;
}

.categories-item > a {
  display: block;
}

.categories-item > a:focus {
  text-decoration: underline;
}

.nav-menu-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-menu-btn {
    display: block;
    width: 55px;
    height: 70px;
    padding-right: 20px;
    border-right: 1px solid #e2e3e5;
  }
}

@media screen and (min-width: 1200px) {
  .nav-menu-btn {
    display: none;
  }
}

.categories-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .categories-container {
    height: 70px;
  }
}

.discard-filters {
  display: none;
}

@media screen and (min-width: 768px) {
  .discard-filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    min-width: 214px;
    height: 70px;
    border-right: 1px solid #e2e3e5;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #000000;
  }
}

.discard-filters-icon {
  margin-right: 14px;
}

footer {
  background: #ffffff;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  height: 83px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 39px;
    padding-bottom: 39px;
  }
}

.line-vector {
  width: 0px;
  height: 20px;
  border: 1px solid #e2e3e5;
  margin-left: 9px;
  margin-right: 9px;
}

.heart-vector {
  width: 16px;
  height: 15px;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.emblem-vector {
  width: 15px;
  height: 15px;
  margin-right: 7.5px;
}

.mobil-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (max-width: 480px) {
  .mobil-section {
    padding-left: 15px;
  }
}

p {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  size: 12px;
}

.centred-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.material-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-card__img-container {
  width: 290px;
  height: 275px;
  position: relative;
  background-color: #64ad83;
}

.heart-button {
  display: none;
  position: absolute;
  top: 19px;
  right: 17px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.fullscreen-button {
  display: none;
  position: absolute;
  bottom: 16px;
  right: 15px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.is-shown {
  display: block;
}

.sale-title, .different-title {
  font-family: Montserrat;
  color: black;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.sale-title {
  padding: 0;
}

.different-title {
  padding: 0;
  margin-right: 10px;
}

.show-all {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.06em;
  border-bottom: 1px solid #ff6c00;
  color: #ff6c00;
  background: none;
}

.header-onsale-cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-button-st-p {
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}

@media screen and (min-width: 768px) {
  .left-button-st-p {
    display: block;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .left-button-st-p {
    margin-right: 28px;
  }
}

.left-button-st-p:hover, .left-button-st-p:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

.right-button-st-p {
  margin-left: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .right-button-st-p {
    display: block;
  }
}

.right-button-st-p:hover, .right-button-st-p:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

.devider {
  color: #e2e3e5;
  margin: 0 10px 0 10px;
}

.cards:not(:first-child) {
  margin-left: 20px;
}

.text {
  font-weight: bold;
  font-size: 15px;
  margin-left: 28px;
  margin-top: 18px;
  margin-bottom: 0px;
}

.modal-favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*background-color: rgb(189, 199, 199);*/
}

.left-button,
.right-button {
  border-radius: 50%;
  border: 0px;
  height: 30px;
  width: 30px;
  background-color: #ffff;
  margin-top: 11px;
}

.right-button {
  margin-left: auto;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards {
  list-style: none;
  width: 295px;
  height: 350px;
  margin: 0px;
  margin-bottom: 20px;
  padding-left: 0px;
  /*background-color: burlywood;*/
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.foto {
  width: 295px;
  height: 275px;
  background-color: #e2e2ec;
}

.heart-like-icon {
  margin-bottom: -25px;
  margin-left: 270px;
}

.name {
  margin-left: 20px;
  margin-top: 20px;
  font-weight: light;
  font-size: 12px;
}

.price {
  margin-left: 20px;
  margin-top: 4px;
  font-weight: bold;
  font-size: 14px;
}

.pagination {
  margin-left: 20px;
  margin-top: 60px;
}

@media screen and (max-width: 480px) {
  .pagination {
    margin-left: 15px;
    margin-top: 30px;
  }
}

.all-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.number-button {
  border: none;
}

.work-button {
  width: 60px;
  height: 60px;
  padding: 0;
  border-style: none;
  background-color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .work-button {
    width: 50px;
    height: 50px;
  }
}

.work-button:focus {
  color: #ffffff;
  background-color: #000000;
  border-style: none;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-bottom: 0;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  outline: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 19px;
  background-color: #f5f6fb;
}

@media screen and (min-width: 480px) {
  .form {
    width: 290px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 650px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    padding: 64px 104px;
  }
}

.autoriz-close-button {
  position: absolute;
  top: 20px;
  right: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .autoriz-close-button {
    top: 30px;
    right: 30px;
  }
}

.autoriz-title {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .autoriz-title {
    text-align: center;
  }
}

.link-contanier {
  margin-top: 20px;
  margin-bottom: 41px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .link-contanier {
    margin-top: 34px;
    margin-bottom: 42px;
  }
}

.google-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 34px;
  background-color: #ffffff;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: black;
}

.icon-google-symbol {
  margin-right: 10px;
}

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  p {
    margin-bottom: 37px;
  }
}

/*.form-field {
  position: relative;
  // margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}*/
.register-form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*.register-form {
  position: relative;
  // margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}*/
.down {
  margin-top: 20px;
  margin-bottom: 31px;
}

@media screen and (min-width: 768px) {
  .down {
    margin-top: 24px;
    margin-bottom: 47px;
  }
}

.form-label {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #bbbbbb;
}

.form-field input {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  border-radius: 3px;
  border: 1px solid #bbbbbb;
  font-size: 14px;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
  color: #ff6c00;
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-autoriz {
  width: 119px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #bbbbbb;
  -webkit-transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1), 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1), 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .btn-autoriz {
    width: 210px;
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .btn-autoriz:not(:last-child) {
    margin-right: 15px;
  }
}

.btn-autoriz:hover, .btn-autoriz:focus {
  background-color: #ff6c00;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */