.categories {
  display: none;
  width: 1200px;

  @media screen and (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-left: auto;
    margin-right: auto;
  }
}

.categories-item {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;

  &:last-child {
    padding-right: 20px;
  }
}

.nav-menu-btn {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
    width: 55px;
    height: 70px;
    padding-right: 20px;
    border-right: 1px solid $border-color;
  }

  @media screen and (min-width: $desktop-width) {
    display: none;
  }
}

.nav-categories {
  display: flex;
  @media screen and (min-width: $tablet-width) {
    height: 70px;
  }
}

.discard-btn {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;

    min-width: 214px;
    height: 70px;
    border-right: 1px solid $border-color;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #000000;
  }
}

.discard-icon {
  margin-right: 14px;
}
